@layer components {
/* @generated:start tokens */
.field {
  --fsds-field-gap-y: var(--fsds-semantic-spacing-density-compact-sm, 8px);
  --fsds-field-gap-meta: var(--fsds-core-spacing-size-03, 4px);
  --fsds-field-color-fg: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-field-color-invalid-text: var(--fsds-semantic-color-foreground-danger, #d92d2e);
  --fsds-field-label-font-size: var(--fsds-semantic-typography-body-small-font-size, 14px);
  --fsds-field-label-color: var(--fsds-semantic-color-foreground-secondary, #474647);
}

.field--idle {
  --fsds-field-color-fg: var(--fsds-semantic-color-foreground-primary, #141414);
}

.field--validating {
  --fsds-field-color-fg: var(--fsds-semantic-color-foreground-secondary, #474647);
}

.field--valid {
  --fsds-field-color-fg: var(--fsds-semantic-color-foreground-success, #497f21);
}

.field--invalid {
  --fsds-field-color-fg: var(--fsds-semantic-color-foreground-danger, #d92d2e);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
