@import "../../primitives/box-model.css";
@import "./Field.tokens.css";
@layer components.defaults {

/* @generated:start styles */
.field {
  padding-block-start: var(--fsds-box-model-padding-block-start, 0);
  padding-block-end: var(--fsds-box-model-padding-block-end, 0);
  padding-inline-start: var(--fsds-box-model-padding-inline-start, 0);
  padding-inline-end: var(--fsds-box-model-padding-inline-end, 0);
  gap: var(--fsds-field-design-root-spacing-gap, var(--fsds-field-gap-y, 8px));
  width: var(--fsds-box-model-width, auto);
  min-width: var(--fsds-box-model-min-width, 0);
  max-width: var(--fsds-box-model-max-width, none);
  height: var(--fsds-box-model-height, auto);
  min-height: var(--fsds-box-model-min-height, 0);
  max-height: var(--fsds-box-model-max-height, none);
  display: flex;
  flex-direction: column;
}

.field__label {
  display: inline-block;
  font-size: var(--fsds-field-design-label-typography-size, var(--fsds-field-label-font-size, 14px));
  font-weight: var(--fsds-field-design-label-typography-weight, 500);
  color: var(--fsds-field-design-label-foreground-color, var(--fsds-field-label-color, #474647));
}

.field__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--fsds-field-design-header-spacing-gap, var(--fsds-field-gap-meta, 4px));
}

.field__control {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.field__help {
  display: block;
  font-size: var(--fsds-field-design-help-typography-size, 0.875em);
  color: var(--fsds-field-design-help-foreground-color, var(--fsds-field-color-fg, #141414));
}

.field__error {
  display: block;
  font-size: var(--fsds-field-design-error-typography-size, 0.875em);
  color: var(--fsds-field-design-error-foreground-color, var(--fsds-field-color-invalid-text, #d92d2e));
}

.field__meta {
  display: flex;
  flex-direction: column;
  gap: var(--fsds-field-design-meta-spacing-gap, var(--fsds-field-gap-meta, 4px));
}

.field__validatingIndicator {
  display: inline-flex;
  width: 1em;
  height: 1em;
  color: var(--fsds-field-design-validating-indicator-foreground-color, var(--fsds-field-color-fg, #141414));
}

.field--disabled .field__header, .field--disabled .field__meta {
  opacity: 0.5;
}
/* @generated:end */

}
/* @custom:start overrides */

/* @custom:end */
